<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnection" connectionString="server=localhost;port=3306;user=root;password=;database=module10;" providerName="MySql.Data.MySqlClient" />
		<add name="DbConnection2" connectionString="server=localhost;port=5432;Username=root;password=;database=module10;" providerName="Npgsql" />
	</connectionStrings>
</configuration>