<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-M05-internal.log"
      internalLogLevel="Off" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfileerror" fileName="${basedir}/logs/error_${shortdate}.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/info_${shortdate}.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="logfileapp" fileName="${basedir}/logs/app_${shortdate}.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<variable name="myLevel" value="Off" />

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" level="Error" writeTo="logfileerror" />
		<logger name="*" levels="Trace,Debug,Info,Warn,Fatal" writeTo="logfile" />
		<logger levels="${var:myLevel}"  writeTo="logfileapp"/>
	</rules>

</nlog>